.account-main{
    text-align: center;
}
.avatar{
    height: 140px;
    width: 140px;
    margin-top: 20px;
    margin-bottom: 5px;
}
.nickname{
    font-size: 40px;
}
.accountCommon{
    font-size: 18px;
    font-family:"Microsoft YaHei";
    color: #6c6e68;
}
.coinIcon{
    width: 20px;
    height: 20px;
}
.edit-btn{
    margin-top: 20px;
}
.avatar-change{
    text-align: center;
}
.avatar-change-btn{
    margin:10px;
}
.select-btn{
    margin:10px;
}
.preview{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    padding: 2px;
}
.preI{
    background: #c2c2c2;
}
.file{
    display: none;
}