.navbar-brand{
    margin: 0 0;
    padding: 0 0
}
#Brand{
    width: 50px;
    height:50px
}
.glyphicon glyphicon-search{
    font-size: 1000px
}
.navbar{
    border-radius:4px;
    margin-bottom: 0px;
}
.navOpacity{
    opacity: 0.5;
}
.jumbotron {
    margin-bottom: 0px;
    background:url("../img/bigCat.jpeg");
}
h1 {
    margin-top: 5px;
    text-align: center;
    display:block;
    font-size: 500px;
}
h3{
    text-align: center;
    display:block;
}
.jumbotron {
    padding-top: 100px;
    padding-bottom: 100px;
    display:block;
}
.row{
    margin-bottom: 10px;
    margin-top: 12px;
}
.right-a{
    color: #2c1a13;
    font-weight:bold;
}
.left-a{
    color: #2c1a13;
    font-weight:bold;
    display:none;
}
.navbar-form{
    opacity: 0.5;
}
#name{
    width: 80%;
    height: 42px;
    margin-left: 42px;
    margin-right: 42px;
}
#password{
    width: 80%;
    height: 42px;
    margin-left: 42px;
    margin-right: 42px;
    margin-top: 25px;
    margin-bottom: 25px;
}
#username{
    width: 80%;
    height: 42px;
    margin-top: 0px;
    margin-left: 42px;
    margin-right: 42px;
}
#re_password{
     width: 80%;
     height: 42px;
     margin-left: 42px;
     margin-right: 42px;
     margin-top: 25px;
     margin-bottom: 25px;
 }
#nickname{
    width: 80%;
    height: 42px;
    margin-left: 42px;
    margin-right: 42px;
    margin-top: 25px;
    margin-bottom: 40px;
}
.button{
    margin-left: 152px;
}
#sign-img{
    width: 130px;
    height: 100px;
    margin-left: 135px;
    margin-right:135px;
}
#register-img {
    width: 158px;
    height: 85px;
    margin-left: 120px;
    margin-top: 20px;
    margin-bottom: 10px;
}
#main-container{
    margin-top: 20px;
}
.grid__item img{
    cursor: pointer;
    transition: all 0.3s;
    pointer-events:auto;
}
.grid__item img:hover{
    transform: scale(1.1);
    box-shadow: 10px 10px 10px rgb(0, 0, 0);
}
.addIndex{
    z-index: 100;
}
.cover{
    width:100%;
    height:50px;
    background-color:rgba(0,0,0,0.6);
    position:absolute;
    bottom:-5%;
    left:0;
    display:none;
    color:#fff;
    margin: 0;
    pointer-events:none;
}
.cover{
    transform: scale(1.1);
}
.avatar{
    width: 40px;
    height: 40px;
    pointer-events:none;
}
.headAvatar{
    width: 40px;
    height: 40px;
    margin-top: 5px;
    transition: all 0.4s;
}
.likeSize{
    font-size: 18px;
    margin-top: 10px;
    margin-left: 70px;
    pointer-events:none;
}
.headLink{
    padding-top:0px;
    padding-bottom: 0px;
}
.avatar-li{
    width: 40px;
    height: 40px;
}
.chest{
    position:relative;
    width: 200px;
    height: 200px;
    margin-left: -80px;
    text-align: center;
    background-color: #ffffff;
    padding: 10px;
    border-radius:8px;
    display: none;
    margin-top: 5px;
}
.chest a{
    text-decoration:none
}
.logout {
    position:absolute;
    left:0;
    bottom:0;
    width: 100%;
    height: 30px;
    line-height: 30px;
    background-color: #f4f5f7;
    border-radius: 4px 4px 4px 4px;
}
.role{
    padding: 2px 3px;
    background: #29b840;
    color: #fff!important;
    border-radius: 3px;
    width: 40%;
    margin: 0 auto;
}
.UserIcon{
    width: 20px;
    height: 20px;
}

.hr{
    margin-top: 10px;
    margin-bottom:8px;
}
.levelAndCoin{
    font-size: 15px;
    padding: 1px;
}
.userFun{
    width:200px;
    float:left;
    margin-top: 5px;
}
.userFun ul{
    width:180px;
}
.userFun li{
    width:90px;
    float:left;
    display:block;
}





