<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="layui/css/layui.css"  media="all">
    <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
</head>
<body>

<style type="text/css">
    .mylist{ width:320px; float:left;}
    .mylist ul{ width:300px;}
    .mylist li{ width:150px; float:left; display:block;}
</style>
<div class="mylist">
    <ul>
        <li>远方的海</li>
        <li>远方的海</li>
        <li>远方的海</li>
        <li>远方的海</li>
        <li>远方的海</li>
        <li>远方的海</li>
    </ul>
</div>
<script src="layui/layui.js" charset="utf-8"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>
</script>

</body>
</html>