<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MainPage</title>
    <script src="js/jquery.min.js"></script>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/mainPage.css" rel="stylesheet">
    <script src="js/bootstrap.min.js"></script>
    <script src="https://cdn.staticfile.org/vue/2.4.2/vue.min.js"></script>
</head>
<body>
<nav class="navbar navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <img alt="Brand" id="Brand" src="img/catBrand.jpeg"/>
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a class="rigth-a" href="#">猫薄荷</a></li>
                <li><a class="rigth-a" href="#">备用菜单一</a></li>
                <li><a class="rigth-a" href="#">备用菜单二</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <form class="navbar-form navbar-left">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for...">
                        <span class="input-group-btn">
                                    <button class="btn btn-default " type="button"><span class="glyphicon glyphicon-search" aria-hidden="false"></span></button>
                                </span>
                    </div><!-- /input-group -->
                </form>
                <li><a href="javascript:void(0);" class="left-a" id="sign" data-container="body" data-toggle="popover" data-placement="bottom"
                       data-trigger="click" data-content="底部的 Popover 中的一些内容" onclick="">登陆</a></li>
                <li><a class="left-a" href="#">注册</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
</nav>
<div class="jumbotron">
    <div class="container">
        <h1>猫薄荷</h1>
        <h3>猫吸薄荷，你吸猫</h3>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">11111111111111</div>
    </div>
    <div class="row">
        <div class="col-md-12">11111111111111</div>
    </div>
    <div class="row">
        <div class="col-md-12">11111111111111</div>
    </div>
    <div class="row">
        <div class="col-md-12">11111111111111</div>
    </div>
    <div class="row">
        <div class="col-md-12">11111111111111</div>
    </div>
    <div class="row">
        <div class="col-md-12">11111111111111</div>
    </div>
    <div class="row">
        <div class="col-md-12">11111111111111</div>
    </div>
    <div class="row">
        <div class="col-md-12">11111111111111</div>
    </div>
    <div class="row">
        <div class="col-md-12">11111111111111</div>
    </div>
    <div class="row">
        <div class="col-md-12">11111111111111</div>
    </div>
    <div class="row">
        <div class="col-md-12">11111111111111</div>
    </div>
    <div class="row">
        <div class="col-md-12">11111111111111</div>
    </div>
    <div class="row">
        <div class="col-md-12">11111111111111</div>
    </div>
    <div class="row">
        <div class="col-md-12">11111111111111</div>
    </div>
    <div class="row">
        <div class="col-md-12">11111111111111</div>
    </div>
    <div class="row">
        <div class="col-md-12">11111111111111</div>
    </div>
    <div class="row">
        <div class="col-md-12">11111111111111</div>
    </div>
    <div class="row">
        <div class="col-md-12">11111111111111</div>
    </div>
    <div class="row">
        <div class="col-md-12">11111111111111</div>
    </div>
    <div class="row">
        <div class="col-md-12">11111111111111</div>
    </div>
    <div class="row">
        <div class="col-md-12">11111111111111</div>
    </div>
    <div class="row">
        <div class="col-md-12">11111111111111</div>
    </div>
    <div class="row">
        <div class="col-md-12">11111111111111</div>
    </div>
    <div class="row">
        <div class="col-md-12">11111111111111</div>
    </div>
    <div class="row">
        <div class="col-md-12">11111111111111</div>
    </div>
    <div class="row">
        <div class="col-md-12">11111111111111</div>
    </div>
    <div class="row">
        <div class="col-md-12">11111111111111</div>
    </div>
    <div class="row">
        <div class="col-md-12">11111111111111</div>
    </div>
    <div class="row">
        <div class="col-md-12">11111111111111</div>
    </div>
    <div class="row">
        <div class="col-md-12">11111111111111</div>
    </div>
    <div class="row">
        <div class="col-md-12">11111111111111</div>
    </div>
    <div class="row">
        <div class="col-md-12">11111111111111</div>
    </div>



</div>
</body>
<script>
    //巨幕淡出效果
    $(document).ready(function(){
        $(".jumbotron").fadeIn(1000);
        $("h1").fadeIn(2000);
        $("h3").fadeIn(3000);
    });
    //滚动条监控
    var beforeWinPos =0;//上一次滚动条位置，根据这个判断用户是继续下滑还是返回
    var loginIsHide = true;
    $(window).scroll(function(event){
 /*       if($(".popover-content").css("display")=="block"){
            $("#sign").trigger('click');
        }*/
        var winPos = $(window).scrollTop();
        if(winPos<200&&beforeWinPos-winPos>0&&beforeWinPos>=200){
            $(".navbar").hide();
            $(".navbar").removeClass("navbar-inverse");
            $(".navbar").fadeIn(200);
            $(".navbar-form").css('opacity',0.5);
        }
        if(winPos>=200&&beforeWinPos-winPos<0&&beforeWinPos<200){
            $(".navbar").hide();
            $(".navbar").addClass("navbar-inverse");
            $(".navbar").fadeIn(200);
            $(".navbar-form").css('opacity',1);
        }
        beforeWinPos = winPos;
    });
    //登录按钮启动弹出框
    $(function () {
        $("[data-toggle='popover']").popover();
    });

</script>
</html>