<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/js/jquery.min.js"></script>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <script src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/accountMsg.css" />
    <title>个人信息</title>
</head>
<body>
<div class="container" id="app">
    <div class="account-main">
        <img src="/img/avatar.jpg" alt="头像" class="img-circle avatar">
    </div>
</div>
</body>
</html>