<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/js/jquery.min.js"></script>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <script src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/accountMsg.css" />
    <script src="https://cdn.staticfile.org/vue/2.4.2/vue.min.js"></script>
    <script src="https://cdn.staticfile.org/axios/0.18.0/axios.min.js"></script>
    <link rel="stylesheet" href="/layui/css/layui.css"  media="all">
    <script src="/js/layer/layer.js"></script>
    <link href="/css/buttons.css" rel="stylesheet">
    <title>个人信息</title>
</head>
<body>
<div class="container" id="app">
    <div class="account-main">
        <div><img :src="src" alt="头像" class="img-circle avatar"></div>
        <div><a href="javascript:void(0)" @click="changeAvatar">更改头像</a></div>
        <div class="nickname">{{nickname}}</div>
        <div class="accountCommon">LV：{{level}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="/img/coin.jpg" class="coinIcon">猫饼：{{coin}}</div>
        <div class="edit-btn"><a href="javascript:void(0)" class="button button-glow button-rounded button-highlight">修改个人资料</a></div>
        <hr style="filter: alpha(opacity=100,finishopacity=0,style=3)"  width="100%" color="#6f5499" size="3" margin="0 10"  class="hr"/>
    </div>
</div>
<script>
    let accountMsg = new Vue({
        el:'#app',
        data:{
            username:'',
            nickname:'',
            src:'',
            coin:'',
            level:''
        },
        mounted:function(){
            this.getUserMsg();
        },
        methods :{
            getUserMsg:function () {
                axios.post('/user/getUserMsg')
                    .then(function (response) {
                        let data = response.data;
                        accountMsg.src = data.data.avatar;
                        accountMsg.nickname = data.data.nickname;
                        accountMsg.coin = data.data.coin;
                        accountMsg.level = data.data.level;
                    })
            },
            changeAvatar:function () {
                let sign = layer.open({
                    type: 1,
                    title: false,
                    skin: 'demo-class',
                    area: ['420px', '330px'], //宽高
                    move: false,
                    offset: '150px',//距离顶部位置
                    content:
                        '<div class="avatar-change">'+
                            '<form id="avatar">' +
                                '<div class="select-btn"><a href="javascript:void(0);" @click="selectImg" class="button button-3d button-primary button-rounded">选择图片</a></div>'+
                                '<div class="file"><input type="file" id="uploadImg" ref="uploadImg" class="" placeholder="上传头像" value="" @change="preview"/></div>' +
                                '<div class="preI"><img src="" id="preview" class=" preview" onerror="this.src=accountMsg.src"/></div>'+
                                '<div class="avatar-change-btn"><a href="javascript:void(0);"  @click="selectImg" class="button button-glow button-border button-rounded button-primary" >更换</a></div>' +
                            '</form>'+
                        '</div>'
                });
                new Vue({
                    el:'#avatar',
                    data:{

                    },
                    methods: {
                        selectImg:function () {
                            this.$refs.uploadImg.click();
                        },
                        preview:function () {
                            if ($('#uploadImg').val() != ""&&$('#uploadImg').val() != null) {
                                let imgSrc = document.getElementById("uploadImg").files[0];
                                let fileReader = new FileReader();
                                fileReader.onload = function () {
                                    document.getElementById('preview').src = fileReader.result;
                                };
                                fileReader.readAsDataURL(imgSrc);
                            }
                        }
                    }
                })
            },
        }
    })
</script>
</body>
</html>